!!!
%html
  %head
    %title Ovida
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = include_gon
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand= ENV['BRAND_NAME'] || "ALLONE"
          %ul.nav
            %li.company_page= link_to "Company", company_home_main_path
            %li.task_page= link_to "Tasks",task_home_main_path
            %li.project_page= link_to "Projects",project_home_main_path
            %li= link_to "Preference","#"
          %ul.nav.pull-right
            %li= link_to "Edit", "#"
    .container
      = yield
