!!!
%html
  %head
    %title PDF Watermarking by William Jone
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = include_gon
    = csrf_meta_tags

  %body
    .container
      .content
        = yield
